<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="main">
      <%= image_tag 'logo.png', alt: "The Pragmatic Bookshelf" %>
      <h1><%= @page_title %></h1>
      <%= link_to 'Show Cart', @card, class: 'btn-cart' %>
    </header>

    <div class="card-basket">
      <a href="/cards/<%= @card.id %>">
        <div class="card-badge">
          <div class="cart-badge-text" id="cart-badge-text">
            <%= @count %>
          </div>
          <%= image_tag('/assets/cart-icon.png', class: 'cart-image') %>
        </div>
        <p class="price">$1232</p>
      </a>
    </div>

    <section class="content">
      <nav class="side_nav">

        <%# if @card %>
          <div id="cart" class="carts">
            <%= render @card %>
          </div>
        <%# end %>

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="">Questions</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>

      <main class="<%= controller.controller_name %>">
        <%= yield %>
      </main>
    </section>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
